.card {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    color: #212121;
    width: max-content;
    // pointer-events: none;
    animation: fade-in 1000ms linear forwards;

    h3 {
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    input[type='text'],
    input[type='number'] {
        display: block;
        background-color: transparent;
        border: none;
        font-family: inherit;
        font-size: initial;
        padding: 0;

        &.heading {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        &::placeholder {
            color: #00000075;
            font-family: inherit;
            font-size: inherit;
        }

        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
