.backdrop {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    pointer-events: all;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: white;
    border: solid 1px black;
    box-shadow: 8px 8px 0 0 black;

    .titlebar {
        --border-image-slice-titlebar: 8;
        --border-image-width-titlebar: calc(var(--border-image-slice-titlebar) * 0.5px);

        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 16px;
        border-bottom: solid 1px black;

        .close {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            width: 44px;
            font-size: 2rem;
        }
    }

    .content {
        flex: 1;
        background-color: var(--window-color);
        padding: 16px;
    }
}
