.loading {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100vw;
    font-size: 4em;

    background-color: black;
    color: white;
    z-index: 100000000000;
}
