.window {
    --border-width: 2px;

    pointer-events: all;
    position: fixed;

    &:not(.blank) {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 300px;
        border-radius: 4px;
        background-color: tan;
        color: black;
        box-shadow: 0px 0px 0px var(--border-width) saddlebrown;
    }

    &.center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titlebar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 16px;
        border-bottom: solid var(--border-width) saddlebrown;

        .close {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            width: 44px;
            font-size: 2rem;
            color: saddlebrown;
        }
    }

    .content {
        flex: 1;
        padding: 16px;
    }
}
