.window {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: var(--bg-50);
    color: var(--tan);
    border-radius: 4px;

    &::before {
        pointer-events: none;
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border: solid 1px var(--tan);
        border-radius: 2px;
    }

    .titlebar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 16px;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 2px;
            width: calc(100% - 4px);
            height: 1px;
            background-color: var(--tan);
        }

        .close {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            width: 44px;
            font-size: 1.5rem;
            color: var(--tan);
        }
    }

    .content {
        flex: 1;
        background-color: var(--window-color);
        padding: 16px;
    }
}
