.window {
    // --window-color: #f8eab3;
    // --border-image-slice: 40;
    // --border-image-width: calc(var(--border-image-slice) * 0.5px);

    position: fixed;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: white;
    border: solid 1px black;
    box-shadow: 8px 8px 0 0 black;

    // border-image-slice: 40;
    // padding: var(--border-image-width);
    // border-image-width: var(--border-image-width);
    // border-image-source: url('borders/border-brown.svg');

    .titlebar {
        --border-image-slice-titlebar: 8;
        --border-image-width-titlebar: calc(var(--border-image-slice-titlebar) * 0.5px);

        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 16px;
        border-bottom: solid 1px black;

        // background-color: var(--window-color);
        // padding-bottom: var(--border-image-width);
        // border-image-slice: var(--border-image-slice-titlebar);
        // border-image-width: 0 0 var(--border-image-width-titlebar) 0;
        // border-image-source: url('borders/border-brown-bottom.svg');

        .close {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            width: 44px;
            font-size: 2rem;
        }
    }

    .content {
        flex: 1;
        background-color: var(--window-color);
        padding: 16px;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    background-color: rgb(0 0 0 / 0.15);
    backdrop-filter: blur(2px);
    z-index: 1000;
}
