.quest-log {
    --cover-color: saddlebrown;
    --border-color: #cb9953;
    --paper-color: cornsilk;
    --leaf-size: 75px;

    .book {
        position: relative;
        width: 800px;
        height: 600px;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('/public/images/leather.png');

        .corner {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .paper {
            position: relative;
            border-radius: 0px;
            width: 100%;
            height: 100%;
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% var(--leaf-size), calc(100% - var(--leaf-size)) 0);
            background-image: url('/public/images/parchment.png');

            .content {
                padding: 32px;
                height: 100%;
                width: 100%;
            }
        }
    }
}
