@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

#root {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    font-family: 'Rubik Mono One', monospace;
}
