@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');

#root {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    font-family: 'Jacquard 24', system-ui;
    font-weight: 400;
    font-style: normal;
}
