@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

#root {
    width: 100vw;
    height: 100dvh;
}

:root {
    // --background-color: #f1f1f3;
    // --background-color: #ffffff;
    --background-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::after,
    &::before {
        box-sizing: border-box;
    }
}

html {
    overscroll-behavior: none;

    cursor: url('images/cursor-orange.png') 8 8, auto;
    background-color: var(--background-color);
}

body {
    font-family: monospace;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-color);
    overflow: hidden;
    overscroll-behavior: none;
}

button {
    cursor: url('images/cursor-orange.png') 8 8, auto;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;

    &:focus,
    &:active {
        outline: none;
    }
}

.content {
    font-family: 'Texturina', serif;
    font-size: 14px;
    line-height: 1.5;
    width: 377px;
    // height: 200px;
    color: white;
    padding: 0;
    background: black;
    overflow-y: auto;
}
