#root {
    width: 100vw;
    height: 100vh;
}

:root {
    --background-color: #f1f1f3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::after,
    &::before {
        box-sizing: border-box;
    }
}

html {
    overscroll-behavior: none;

    cursor: url('images/cursor.svg') 0 0, auto;
    background-color: var(--background-color);
}

body {
    font-family: monospace;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-color);
    overscroll-behavior: none;
}

button {
    cursor: url('images/cursor.svg') 0 0, auto;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;

    &:focus,
    &:active {
        outline: none;
    }
}
