@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

#root {
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik Mono One', monospace;
    font-weight: 400;
    font-style: normal;
}
