.ui {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    color: #f1f1f3;

    button {
        background-color: transparent;
        font-family: inherit;
        font-size: inherit;
        border: none;
        color: inherit;
        background-color: black;
    }

    .bottom {
        user-select: none;
        pointer-events: all;
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem;
        font-size: 1rem;
        font-weight: 700;
        width: max-content;
    }

    .red {
        color: crimson;
    }

    .green {
        color: mediumseagreen;
    }
}
