.ui {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    color: #f1f1f3;

    .buttons {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-self: center;
        gap: 16px;
        width: 100%;
        font-size: 1rem;
        font-weight: 700;
        padding: 1rem;

        button {
            flex: 1;
            pointer-events: all;
            background-color: transparent;
            font-family: inherit;
            font-size: 14px;
            border: none;
            color: inherit;
            background-color: black;
            padding: 0.5rem;
            color: white;
        }

        .red {
            color: crimson;
        }

        .green {
            color: mediumseagreen;
        }
    }
}
