.ui {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    color: #f1f1f3;

    .buttons {
        position: absolute;
        top: 0;
        right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1rem;
        background-color: rgb(0 0 0 / 0.5);

        button {
            flex: 1;
            pointer-events: all;
            min-height: 28px;
            padding-inline: 1rem;
            font-weight: 400;
            font-size: 14px;
            text-align: left;
            color: #cccccc;
            background-color: transparent;

            &:hover {
                color: #ffffff;
                font-weight: 700;
            }
        }

        .red {
            color: crimson;
        }

        .green {
            color: mediumseagreen;
        }
    }
}
