.ui {
    cursor: default;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    background-image: url('/public/images/background.png');
    background-size: cover;

    .right {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: 16px;
        padding: 16px;

        .mini-map {
            width: 200px;
            height: 200px;
            border: solid 1px black;
        }

        .tracked-quests {
            flex: 1;
            top: 232px;
            right: 0;
            width: 300px;
            border: solid 1px black;
        }

        .buttons {
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;

            button {
                font-size: 1.25rem;
                height: 44px;
                width: 44px;
                font-size: 1.25rem;
                border: solid 1px black;
            }
        }
    }

    .left {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
        padding: 16px;

        .actions {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 8px;

            .spell {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 44px;
                width: 44px;
                border: solid 1px black;
                font-size: 1rem;
            }
        }

        .character-frame {
            bottom: 0px;
            left: 0px;
            width: 275px;
            height: 100px;
            border: solid 1px black;
        }
    }
}
