.ui {
    cursor: default;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;

    .character-frame,
    .target-frame,
    .cast-bar,
    .mini-map,
    .tracked-quests,
    .hot-bars,
    .chat-log,
    .buffs,
    .debuffs,
    .buttons {
        position: absolute;
    }

    .character-frame {
        top: 0px;
        left: 0px;
        width: 275px;
        height: 100px;
        border: solid 1px black;
    }

    .target-frame {
        top: 50%;
        right: 50%;
        transform: translate(175%, 75%);
        width: 275px;
        height: 100px;
        border: solid 1px black;
    }

    .cast-bar {
        bottom: 140px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;

        .bar {
            position: relative;
            width: 300px;
            height: 16px;
            border-radius: 16px;
            background-color: white;
            border: solid 1px black;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 75%;
                background-color: black;
                border-radius: 16px;
            }
        }
    }

    .mini-map {
        top: 0;
        right: 0;
        background-color: tan;
        width: 200px;
        height: 200px;
        padding: 0;
    }

    .tracked-quests {
        top: 232px;
        right: 0;
        background-color: #ff000020;
        height: calc(100dvh - 372px);
        width: 300px;
    }

    .hot-bars {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        flex-direction: column;
        gap: 8px;

        .bar {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            .spell {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 44px;
                width: 44px;
                border: solid 1px #bbbbbb;
                font-size: 14px;
                border-radius: 4px;
            }
        }
    }

    .chat-log {
        bottom: 0;
        left: 0;
        width: 500px;
        height: 250px;
        background-color: #00000020;
    }

    .buffs {
        top: 0;
        right: 232px;
        background-color: #0000ff30;
    }

    .debuffs {
        top: 232px;
        right: 332px;
        background-color: #ff00ff30;
    }

    .buttons {
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 16px;

        button {
            background-color: transparent;
            height: 44px;
            width: 44px;
            font-size: 1.25rem;
            font-family: inherit;
            border: none;
            border: solid 1px #000000;

            &:focus,
            &:active {
                outline: none;
            }
        }
    }

    // NOTE: Testing window border images
    .character-frame,
    .target-frame,
    .cast-bar,
    .mini-map,
    .tracked-quests,
    .hot-bars,
    .chat-log,
    .buffs,
    .debuffs {
        display: none;
    }
}
