@mixin bg {
    background-color: var(--bg-50);
    color: var(--tan);
    border-radius: 0px;
}

.ui {
    --black: #000000;
    --tan: #e2ded3;
    --bg-50: rgb(0 0 0 / 0.5);

    pointer-events: none;
    cursor: default;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;

    .right {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: 16px;
        padding: 16px;

        .mini-map {
            width: 200px;
            height: 200px;
            @include bg;
        }

        .tracked-quests {
            flex: 1;
            top: 232px;
            right: 0;
            width: 300px;
            // border: solid 1px red;
            // color: var(--tan);
            color: var(--black);
        }

        .buttons {
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            button {
                pointer-events: all;
                height: 44px;
                width: 44px;
                font-size: 1rem;
                font-weight: 700;
                color: var(--black);
                background-color: var(--tan);
                border-radius: 50%;
            }
        }
    }

    .left {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
        padding: 16px;

        .actions {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 8px;

            .action {
                pointer-events: all;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 44px;
                width: 44px;
                font-size: 1rem;
                font-weight: 700;
                color: var(--black);
                background-color: var(--tan);
                border-radius: 50%;
            }
        }

        .character-frame {
            bottom: 0px;
            left: 0px;
            width: 275px;
            height: 100px;
            @include bg;
        }
    }
}
